# =====================================================
# Configurações do banco de dados MySQL
# =====================================================

# Chave API
API_KEY=

# Endereço do servidor MySQL.
MYSQL_HOST=localhost

# Porta do servidor MySQL.
MYSQL_PORT=

# Nome do banco de dados.
MYSQL_DATABASE=
# Usuário para acesso ao banco.
MYSQL_USER=root

# Senha do usuário.
MYSQL_PASSWORD=
